.skeleton {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.avatar {
    margin: 0 auto;
}

.avatarWrapper {
    margin-bottom: 4rem;
}

.articleInfo {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.block {
    margin-top: 1.6rem;
}
