.Button {
    cursor: pointer;
    color: var(--headline-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.lang {
    background: var(--button-color);
    color: var(--button-text-color);
    padding: 1.5rem 2.5rem;
    border: 1px solid var(--headline-color);
}

.outline {
    padding: 1.5rem 2.5rem;
    border: 1px solid var(--secondary-color);
    color: var(--headline-color);
    background: none;
}
