.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--bg-color);
    position: relative;
    transition: width 0.4s ease-in-out;
    border-right: 1px solid var(--secondary-color);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.collapseBtn {
    position: absolute;
    right: 0;
    bottom: 50%;
    float: right;
    transform: translateX(50%) translateY(50%);
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }
}
