.panel {
    display: flex;
    flex-direction: column;
    background: var(--list-box);
    box-shadow: 0 4px 8px var(--list-box);
    position: absolute;
    z-index: 10000;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px 25px;
}
