.link {
    opacity: 1;
}

.item {
    display: flex;
    gap: 1rem;
}

.icon {
    fill: var(--headline-color);
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.1s opacity;
    }
}
