.InputWrapper {
    display: flex;
    gap: 1rem;

    .caretWrapper {
        flex: 1;
        position: relative;

        .input {
            background: transparent;
            border: none;
            outline: none;
            width: 100%;
            color: transparent;
            text-shadow: 0 0 0 var(--paragraph-color);

            &:focus {
                outline: none;
            }
        }

        .caret {
            position: absolute;
            height: 3px;
            width: 9px;
            background: var(--button-color);
            bottom: 0;
            left: 0;
            animation: blink 1s forwards infinite;
        }
    }
}

.readonly {
    opacity: 0.6;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
