.app_dark_theme {
    --bg-color: #16161a;
    --headline-color: #fffffe;
    --paragraph-color: #94a1b2;
    --button-color: #7f5af0;
    --button-text-color: #fffffe;
    --primary-color: #fffffe;
    --secondary-color: #72757e;
    --tertiary-color: #2cb67d;

    // skeleton
    --skeleton-color: #5f626b;
    --skeleton-shadow: #95b9d1;

    // card
    --card-bg: #72757e;

    // listbox
    --list-box: #72757e;
}
