:root {
    --bg-color: #f9f4ef;
    --headline-color: #020826;
    --paragraph-color: #716040;
    --button-color: #8c7851;
    --button-text-color: #fffffe;
    --primary-color: #fffffe;
    --secondary-color: #eaddcf;
    --tertiary-color: #f25042;

    // skeleton
    --skeleton-color: #eaddcf;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
