.app_yellow_theme {
    --bg-color: #fffffe;
    --headline-color: #272343;
    --paragraph-color: #2d334a;
    --button-color: #ffd803;
    --button-text-color: #272343;
    --primary-color: #fffffe;
    --secondary-color: #e3f6f5;
    --tertiary-color: #bae8e8;

    // skeleton
    --skeleton-color: #e3f6f5;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // card
    --card-bg: #c9eee8;

    // listbox
    --list-box: #c9eee8;
}
