.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 2rem;
}

.recommendTitle {
    margin-top: 2rem;
}

.recommendations {
    margin-top: 2rem;
    flex-wrap: nowrap !important;
    overflow-y: hidden;
    overflow-x: auto;
}
