.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.links {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 0 20px;
}
